
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  <app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>
  <body>
  <div>
    <div *ngFor='let quote of quotes;let i = index; let z = index;'>
      <p>"{{quote.quoted}}" <br>
        <span>Name - {{quote.personName}} <br>Author - {{quote.authorName}}</span> <br> 
        <span class="date">Uploaded {{quote.dateCreated|timePassed}} minutes ago.</span></p>
      <a class="btn btn-danger" (click) = 'dislike(i)'>DISLIKE <i class="fa fa-thumbs-down">

      </i> </a><a class="btn btn-success " (click) = 'like(z)'>LIKE <i class="fa fa-thumbs-up"></i></a>
      <a class="btn btn-danger " (click) = 'deleteQuote(true)'>DELETE   <i class="fa fa-trash"></i></a>
      <p>No of Likes: {{quote.votes}}<span class="label label-success" *ngIf='quote.votes > 5'>Favourite Quote</span></p>
      <hr>

       <!-- Facebook -->
    <a href="http://www.facebook.com/sharer.php?u=https://simplesharebuttons.com" target="_blank">
      <img src="https://simplesharebuttons.com/images/somacro/facebook.png" alt="Facebook" />
  </a>

   <!-- LinkedIn -->
   <a href="http://www.linkedin.com/shareArticle?mini=true&amp;url=https://simplesharebuttons.com" target="_blank">
    <img src="https://simplesharebuttons.com/images/somacro/linkedin.png" alt="LinkedIn" />
</a>

 <!-- Twitter -->
 <a href="https://twitter.com/share?url=https://simplesharebuttons.com&amp;text=Simple%20Share%20Buttons&amp;hashtags=simplesharebuttons" target="_blank">
  <img src="https://simplesharebuttons.com/images/somacro/twitter.png" alt="Twitter" />
</a>
    </div>
  </div>
  
  
  </body>

