/* body{
    background-image: linear-gradient(#1F45FC, purple);
    background-size: cover;
  } */

  #share-buttons img {
    width: 35px;
    padding: 5px;
    border: 0;
    box-shadow: 0;
    display: inline;
    }
    #details{
      margin-left: 50px;
    }