
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  <app-quote-form (addQuote)="addNewQuote($event)"></app-quote-form>
  <div>
    <div *ngFor='let quote of quotes;let i = index; let z = index;'>
      <p>"{{quote.quoted}}" <br>
        <span>Name - {{quote.personName}}, <br>Author - {{quote.authorName}}</span> <br> 
        <span class="date">Uploaded {{quote.dateCreated|timePassed}} minutes ago.</span></p>
      <a class="btn btn-danger-alt" (click) = 'dislike(i)'><strong>DISLIKE </strong><i class="fa fa-thumbs-down">

      </i> </a><a class="btn btn-success-alt " (click) = 'like(z)'><strong>LIKE </strong><i class="fa fa-thumbs-up"></i></a>
      <a class="btn btn-danger " (click) = 'deleteQuote(true)'>DELETE <i class="fa fa-trash"></i></a>
      <p>No of Votes: <strong>{{quote.votes}}</strong><span class="label label-success" *ngIf='quote.votes > 5'>Voted Best</span></p>
      <hr>
    </div>
  </div>
