<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
<div class="container">
  <div class="row">
  <form>
    <div class="col-md-6">
      
      <!-- <div class="form-group"> -->
        <label for="name">Your Name: </label>
        <input type="text"  placeholder="Your Name" required><br>
        <label for="author">Author: </label>
        <input type="text"  placeholder="Author" required><br>
        <label for="quote">Quote: </label>
        <textarea rows="4" cols="50"  placeholder="Type your quote here..." required></textarea><br><br>
        
        <button class="btn btn-success" type="submit">Submit</button>
      <!-- </div> -->

    </div>

  </form>
  </div>
</div>