<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
<body>
<!-- <div>
  <div> -->
  <form (ngSubmit)='submitQuote()' #quoteForm='ngForm' name="quoteForm" novalidate>
   
      <h1 align="center">
    Welcome to Quotes!</h1>
    <div class="col-md-6">
      <div class="input-group">
        <label for="name">Your Name: </label>
        <input id="name" type="text"  placeholder="Your Name" [(ngModel)]="quotesdetails.personName" name="personName" #personName="ngModel" required><br>
        <div [hidden]="personName.valid || personName.pristine" class="alert alert-danger">
          <p> Name is Required</p>
          
      </div>
        <label for="author">Author: </label>
        <input id="author" type="text"  placeholder="Author" [(ngModel)]="quotesdetails.authorName" name="authorName" #authorName="ngModel" required><br>
        <div [hidden]="authorName.valid || authorName.pristine" class="alert alert-danger">
          <p> Author is Required</p>
          
      </div>
        <label for="quote">Quote: </label>
        <textarea id="textarea" rows="4" cols="50"  placeholder="Type your quote here..." [(ngModel)]="quotesdetails.quoteName" name="quoteName" #quoteName="ngModel" required></textarea><br><br>
        <div [hidden]="quoteName.valid || quoteName.pristine" class="alert alert-danger">
          <p> Quote is Required</p>
          
      </div>
        <button [disabled]="!quoteForm.form.valid" class="btn btn-success" type="submit">Submit</button>
      </div>

    </div>

    <!-- <div>
      <p class="authorname"><span id="spanname">Name: </span> {{quotesdetails.personName}}</p>
      <p class="authorname"><span id="spanname">Author: </span> {{quotesdetails.authorName}}</p>
      <p id="quote">" {{quotesdetails.quoteName}} "</p>				
    </div><br>
     -->
    
    </form>
    <footer align="center">
      <p>&copy; Licio Lentimo 2019.</p>
    </footer>
  <!-- </div>
</div> -->
</body>
